body {
  font-family: Merriweather;
  background-color: #88668a;
}

.weather-app {
  background: #9d90ad;
  max-width: 700px;
  padding: 15px 20px;
  margin: 35px auto;
  font-size: 14px;
}

.search-input {
  width: 82%;
  padding: 15px 20px;
  border: none;
  border-radius: 12px;
  background: white;
}
.search-button {
  padding: 14px 20px;
  border-radius: 12px;
  border: none;
  color: black;
  background: white;
  font-size: 15px;
  margin: 7px;
}
.weather-data {
  display: flex;
  justify-content: space-between;
}
.weather-temperature-data {
  font-size: 34px;
}

footer {
  font-size: 10px;
  text-align: center;
}
.weather-forecast-day {
  color: black;
}
